<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLPBookRide.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CLPDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CLPSiriIntent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CLPSiriIntentUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29525C7D1D1B848600303F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29525C961D1B848600303F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29827C961D1C009C00D4133D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29827CA01D1C009C00D4133D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29827CBC1D1C026200D4133D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29EA8AE41D2003C700CF2837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29EA8AF81D2003E300CF2837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29EA8B081D20047C00CF2837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29EA8B121D20047C00CF2837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
